node_modules
npm-debug.log
.git
.gitignore
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
Dockerfile*
docker-compose*
.nyc_output
coverage
.nyc_output
.DS_Store
*.log
.nyc_output

